services:
  bw-backup:
    image: ghcr.io/pschmitt/bw-backup
    build: .
    container_name: bw-backup
    restart: no
    # DEBUG
    # entrypoint: bash
    # command:
    #   - -c
    #   - sleep 9000
    command: sync
    env_file:
      - secrets.env
    volumes:
      # persistent data
      - ./data:/data

      # development: bind mount scripts for live iteration
      - ./bw-backup.sh:/usr/local/bin/bw-backup:ro
      - ./bw-sync.sh:/usr/local/bin/bw-sync:ro
      - ./bw.py:/usr/local/bin/bw.py:ro
      - ./entrypoint.sh:/entrypoint.sh:ro
      - ./lib.sh:/usr/local/bin/lib.sh:ro
