x-bw-base: &bw-base
  image: ghcr.io/pschmitt/bw-backup:latest
  build: .
  restart: no
  env_file:
    - secrets.env
  volumes:
    # persistent storage
    - ./data:/data
    # devel
    - ./bw-backup.sh:/usr/local/bin/bw-backup:ro
    - ./bw-sync.sh:/usr/local/bin/bw-sync:ro
    - ./bw.py:/usr/local/bin/bw.py:ro
    - ./entrypoint.sh:/entrypoint.sh:ro
    - ./lib.sh:/usr/local/bin/lib.sh:ro

services:
  bw-backup:
    <<: *bw-base
    container_name: bw-backup
    command: backup

  bw-backup-sync:
    <<: *bw-base
    container_name: bw-backup-sync
    command: sync
