# BW_URL=https://bitwarden.com
BW_CLIENTID=user.xxxxxx
BW_CLIENTSECRET=xxxxx
BW_PASSWORD=xxxxx
# HEALTHCHECK_URL=https://hc-ping.com/your-uuid

# --- Sync ---
# Source vault (defaults to BW_* variables above)
#BW_URL=https://bitwarden.com
BW_CLIENTID=src.xxxxxx
BW_CLIENTSECRET=xxxxx
BW_PASSWORD=xxxxx

# Destination vault
#DEST_BW_URL=https://bitwarden.com
DEST_BW_CLIENTID=dest.xxxxxx
DEST_BW_CLIENTSECRET=xxxxx
DEST_BW_PASSWORD=xxxxx
DEST_BW_EMAIL=you@example.com
# set DEST_BW_PURGE_VAULT to purge the dest vault before the import.
# DEST_BW_PURGE_VAULT=1
